<div class="below-navbar">
  <div class="bg-pink padded">
    <h2 class="text-center">Cote <span class="text-warning">Atelier</span></h2>
  </div>
  <div id="program_du_mois">
    <h3 class = "text-center">Le programme du mois de Mars</h3>
    <div class="prog-sem">
      <% if @program.sem1? %>
        <%= @program.jour_date_sem1 %>
        <%= @program.ateliers_sem1 %>
      <% end %>
    </div>
    <div class="prog-sem">
      <% if @program.sem2? %>
        <%= @program.jour_date_sem2 %>
        <%= @program.ateliers_sem2 %>
      <% end %>
    </div>
    <div class="prog-sem">
      <% if @program.sem3? %>
        <%= @program.jour_date_sem3 %>
        <%= @program.ateliers_sem3 %>
      <% end %>
    </div>
    <div class="prog-sem">
      <% if @program.sem4? %>
        <%= @program.jour_date_sem4 %>
        <%= @program.ateliers_sem4 %>
      <% end %>
    </div>
    <div class="prog-sem">
      <% if @program.sem5? %>
        <%= @program.jour_date_sem5 %>
        <%= @program.ateliers_sem5 %>
      <% end %>
    </div>
    <div class="prog-sem">
      <% if @program.vacances? %>
        Pendant les vacances
        <%= @program.ateliers_vacances %>
      <% end %>
    </div>


  </div>
  <div class="bg-pink text-center">
    <h3>Une selection des plus belles creation du mois dernier</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 padded"><%= image_tag "http://placehold.it/300x300" %></div>
        <div class="col-xs-12 col-md-6 padded"><%= image_tag "http://placehold.it/300x300" %></div>
      </div>
    </div>
  </div>
</div>
